# Exclude __pycache__ files and directories
__pycache__/

# Exclude .pyc files
*.pyc

# Exclude gradio folder
naruto/Lib/site-packages/gradio/

# Exclude entire 'Lib/site-packages' folder if needed
naruto/Lib/site-packages/
